.example-full-width mat-label {
  color: #00203b;
  font-weight: 500;
}
::ng-deep .mat-calendar-body-selected {
  background-color: #00203b !important;
  color: white !important;
}
::ng-deep .mat-calendar {
  border-style: groove !important;
  opacity: 1 !important;
  border-color: #00203b !important;
  border-radius: 15px !important;
  background-color: white !important;
}
