.example-full-width mat-label {
  color: #00203b;
  font-weight: 500;
}
.example-full-width .mat-calendar-body-selected {
  background-color: #00203b !important;
  color: white !important;
}
.mat-datepicker-content {
  background-color: white !important;
}
.mdc-text-field__input {
  color: black !important;
}
