.genericTable {
  display: grid;
  justify-content: center;
  align-items: center;
}
tr th {
  background-color:#00203b;
  color: white;
}
th{
  width: 20000px;
}
.actionColumn{
  width: 3000px;
}
.showActions button {
  justify-items: center;
  padding: 5px;
  margin-right: 8px;
  border-radius: 5px;
  background-color:#00203b;
  color: white;
  width: 26px;
  height: 26px;
  border: 0;
}
.showActions mat-icon {
  font-size: 16px;
  height: auto;
  width: auto;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}
tr.mat-mdc-footer-row {
  font-weight: bold;
}
.hidden {
  display: none;
}
::ng-deep tfoot.mat-mdc-table-sticky {
  bottom: -10px !important;
  z-index: 10 !important;
}
::ng-deep tfoot.mat-mdc-table-sticky td {
  bottom: -10px !important;
}
