<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-focus="false" (hidden.bs.modal)="onCloseModal()" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario de Centro de Trabajo</h5>
      </div>
      <div class="modal-body">
        <form id="form-container" [formGroup]="form" (ngSubmit)="onSubmit.bind(this)">
          <div class="mb-3">
            <div class="row">
              <div class="col-8 col-sm-6">
                <label for="name" class="form-label">Nombre del Centro</label>
                <input type="text" class="form-control" id="name" formControlName="name"
                  [ngClass]="{'is-invalid': form.get('name')?.invalid && form.get('name')?.touched}">
                <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
              <div class="col-4 col-sm-6">
                <label for="monthlyConsumptionLimit" class="form-label">Límite de consumo mensual</label>
                <input type="number" class="form-control" id="monthlyConsumptionLimit" formControlName="monthlyConsumptionLimit" appNumberValidation
                  [ngClass]="{'is-invalid': form.get('monthlyConsumptionLimit')?.invalid && form.get('monthlyConsumptionLimit')?.touched}">
                <div *ngIf="form.get('monthlyConsumptionLimit')?.invalid && form.get('monthlyConsumptionLimit')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col-sm-4">
                <label for="adminAreaName" class="form-label">Área Administrativa</label>
                <app-autocomplete class="form-control" id="adminAreaName"
                  [options]="areaArray"
                  [label]="'Áreas'"
                  [control]="getControl('adminAreaName')"
                  [showIcon]="true"
                  [deleteOption]="deleteArea.bind(this)"
                ></app-autocomplete>
                <div *ngIf="form.get('adminAreaName')?.invalid && form.get('adminAreaName')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
              <div class="col-sm-1">
                <label for="addArea" class="form-label"><br><br></label>
                <app-button id="addArea"
                  [isDisabled]="!enableAddArea"
                  [label]="''"
                  [showIcon]="true"
                  [icon]="'add'"
                  [function]="addArea.bind(this)"
                >
                </app-button>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-4">
                <label for="instalationType" class="form-label">Tipo de instalación</label>
                <app-autocomplete class="form-control" id="instalationType"
                  [options]="typeArray"
                  [label]="'Tipos'"
                  [control]="getControl('instalationType')"
                  [showIcon]="true"
                  [deleteOption]="deleteType.bind(this)"
                ></app-autocomplete>
                <div *ngIf="form.get('instalationType')?.invalid && form.get('instalationType')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
              <div class="col-sm-1">
                <label for="addType" class="form-label"><br><br></label>
                <app-button id="addType"
                  [isDisabled]="!enableAddType"
                  [label]="''"
                  [showIcon]="true"
                  [icon]="'add'"
                  [function]="addType.bind(this)"
                >
                </app-button>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="d-flex align-items-center mb-2">
              <label for="address" class="form-label mb-0">Ubicación</label>
              <button type="button" class="btn btn-custom btn-location ms-2" (click)="openMapModal()">
                <mat-icon>location_on</mat-icon>
              </button>
            </div>
            <div class="row">
            </div>
            <div class="row mt-2">
              <div class="col-6">
                <label for="location" class="form-label mb-0">Dirección</label>
                <input type="string" id="location" class="form-control" formControlName="location" readonly>
              </div>
              <div class="col-3">
                <label for="latitude" class="form-label mb-0">Latitud</label>
                <input type="number" id="latitude" class="form-control" formControlName="latitude" readonly>
              </div>
              <div class="col-3">
                <label for="longitude" class="form-label mb-0">Longitud</label>
                <input type="number" id="longitude" class="form-control" formControlName="longitude" readonly>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col-4 col-sm-4">
                <label for="policy" class="form-label">Política</label>
                <app-autocomplete class="form-control" id="policy"
                  [options]="policies"
                  [label]="'Políticas'"
                  [control]="getControl('policy')"
                ></app-autocomplete>
              </div>
              <div *ngIf="getControlValue('policy').id" class="col-4 col-sm-4">
                <label for="applyingDate" class="form-label">Fecha de aplicación</label> <br>
                <app-datepicker class="form-control" id="applyingDate"
                  [filter]="filterDate"
                  [control]="getControl('applyingDate')"
                ></app-datepicker>
                <div *ngIf="form.get('applyingDate')?.invalid && form.get('applyingDate')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
              <div *ngIf="!postMethod" class="col-4 col-sm-4">
                <label for="teamWork" class="form-label">Equipo responsable</label>
                <app-checkbox class="form-control" id="teamWork"
                  [options]="teamWork"
                  [label]="'Trabajadores'"
                  [control]="getControl('teamWork')"
                ></app-checkbox>
              </div>
            </div>
          </div>

          <div class="mb-3">
            Fórmula de Costo
            <div class="row">
              <div class="col-sm-9">
                <br>
                <div class="col-sm-10 d-flex align-items-center">
                  <label for="formula" class="col-sm-2">Costo =</label>
                  <input type="string" id="formula" class="form-control col-sm-8" formControlName="formula" readonly
                  [ngClass]="{'is-invalid': form.get('formula')?.invalid && form.get('formula')?.touched}">
                </div>
                <br>
                <app-chips id="formula-elements"
                  [label]="'Crear Fórmula'"
                  [allOptions]="formulaVariables"
                  [options]="options"
                  [function]="updateFormula.bind(this)"
                  [deleteOption]="updateFormula.bind(this)"
                  [validateOption]="validateOption.bind(this)"
                ></app-chips>
              </div>
              <div class="col-sm-3">
                <br>
                <app-chips id="formula-symbols"
                  [allOptions]="formulaSymbols"
                  [function]="addSymbolFormula.bind(this)"
                  [variable]="false"
                ></app-chips>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <app-button [label]="'Cerrar'" [function]="onCloseModal.bind(this)" data-bs-dismiss="modal" [isDisabled]="loading"></app-button>
        <app-button [label]="'Guardar cambios'" [function]="onSubmit.bind(this)" [isDisabled]="loading" [loading]="loading"></app-button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="mapModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg h-100 m-0 mx-auto">
    <div class="modal-content h-100">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar Ubicación</h5>
      </div>
      <div class="modal-body p-0">
        <div id="map" style="height: calc(100vh - 140px);"></div>
      </div>
      <div class="modal-footer">
        <app-button [label]="'Cerrar'" [function]="onCloseModal.bind(this)" data-bs-dismiss="modal" [isDisabled]="!locationConfirm"></app-button>
        <app-button [label]="'Confirmar'" [function]="confirmLocation.bind(this)" [isDisabled]="!locationConfirm" [loading]="!locationConfirm"></app-button>
      </div>
    </div>
  </div>
</div>


