<!-- Modal de Bootstrap -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario de Centro de Trabajo</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="name" class="form-label">Nombre del Centro</label>
            <input type="text" class="form-control" id="name" formControlName="name"
              [ngClass]="{'is-invalid': form.get('name')?.invalid && form.get('name')?.touched}">
            <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="invalid-feedback">
              Este campo es obligatorio
            </div>
          </div>

          <div class="mb-3">
            Área Administrativa
            <div class="row">
              <div class="col-8 col-sm-6">
                <label for="adminAreaName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="adminAreaName" formControlName="adminAreaName"
                  [ngClass]="{'is-invalid': form.get('adminAreaName')?.invalid && form.get('adminAreaName')?.touched}">
                <div *ngIf="form.get('adminAreaName')?.invalid && form.get('adminAreaName')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
              <div class="col-4 col-sm-6">
                <label for="adminAreaDescription" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="adminAreaDescription" formControlName="adminAreaDescription"
                  [ngClass]="{'is-invalid': form.get('adminAreaDescription')?.invalid && form.get('adminAreaDescription')?.touched}">
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="address" class="form-label">Ubicación</label>
            <input type="text" class="form-control" id="address" formControlName="address"
              [ngClass]="{'is-invalid': form.get('address')?.invalid && form.get('address')?.touched}">
            <div *ngIf="form.get('address')?.invalid && form.get('address')?.touched" class="invalid-feedback">
              Este campo es obligatorio
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col-8 col-sm-6">
                <label for="instalationType" class="form-label">Tipo de instalación</label>
                <input type="text" class="form-control" id="instalationType" formControlName="instalationType"
                  [ngClass]="{'is-invalid': form.get('instalationType')?.invalid && form.get('instalationType')?.touched}">
                <div *ngIf="form.get('instalationType')?.invalid && form.get('instalationType')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
              <div class="col-4 col-sm-6">
                <label for="monthlyConsumptionLimit" class="form-label">Límite de consumo mensual</label>
                <input type="number" class="form-control" id="monthlyConsumptionLimit" formControlName="monthlyConsumptionLimit"
                  [ngClass]="{'is-invalid': form.get('monthlyConsumptionLimit')?.invalid && form.get('monthlyConsumptionLimit')?.touched}">
                <div *ngIf="form.get('monthlyConsumptionLimit')?.invalid && form.get('monthlyConsumptionLimit')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="formula" class="form-label">Fórmula de costo total</label>
            <input type="text" class="form-control" id="formula" formControlName="formula"
              [ngClass]="{'is-invalid': form.get('formula')?.invalid && form.get('formula')?.touched}">
            <div *ngIf="form.get('formula')?.invalid && form.get('formula')?.touched" class="invalid-feedback">
              Este campo es obligatorio
            </div>
          </div>

          <div class="mb-3">
            <label for="teamWork" class="form-label">Equipo responsable</label>
            <app-checkbox class="form-control" id="teamWork"
              [options]="workers"
              [label]="'Trabajadores'"
              [control]="getControl('teamWork')"
            ></app-checkbox>
            <div *ngIf="form.get('teamWork')?.invalid && form.get('teamWork')?.touched" class="invalid-feedback">
              Este campo es obligatorio
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <app-button [label]="'Cerrar'" [function]="onCloseModal.bind(this)" data-bs-dismiss="modal"></app-button>
        <app-button [label]="'Guardar cambios'" [function]="onSubmit.bind(this)"></app-button>
      </div>
    </div>
  </div>
</div>


