<div style="display: flex; flex-direction:space-between; align-items:center; gap:270px; background-color:#00203b; color:white; padding: 0 20px 20px 20px;">
    <div>
        <p class="undefined" style="font-size:20px;line-height:36px;font-weight:700;margin:16px 0">Datos del Solicitante:</p>
        <div>
            <span style="font-size:15px;line-height:22px;font-weight:600;">
                Usuario: 
            </span>
            <span style="font-size:15px;line-height:22px;font-weight:400">
                {{username}}
            </span>
        </div>
        <div>
            <span style="font-size:15px;line-height:22px;font-weight:600;">
                Correo: 
            </span>
            <span style="font-size:15px;line-height:22px;font-weight:400">
                {{email}}
            </span>
        </div>
        <div>
            <span style="font-size:15px;line-height:22px;font-weight:600;">
                Sucursal: 
            </span>
            <span style="font-size:15px;line-height:22px;font-weight:400">
                {{companyName}}
            </span>
        </div>
    </div>
    <div style="margin-left: auto;">
        <img alt="ElectroManage Logo" height="63" src={{logo}} style="width:70px;height:fit-content;margin-left:auto;margin-right:auto;display:block;outline:none;border:none;text-decoration:none;" width="200"/>
        <figcaption style="text-align:center">ElectroManage</figcaption>
    </div>
</div>
