.example-chip-list {
  width: 100%;
  align-items: left;
}
mat-icon {
  margin-left: auto;
  color: #8b0000;
}
mat-icon:hover {
  transform: scale(1.15);
}
.option {
  display: flex;
  flex-direction: row;
  align-items: center;
}
::ng-deep .mat-mdc-chip-remove {
  display: none;
}
::ng-deep .mat-mdc-chip-remove {
  visibility: hidden !important;
}
::ng-deep .mat-mdc-standard-chip:hover .mat-mdc-chip-remove {
  visibility: visible !important;
}
