<!-- Modal de Bootstrap -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Formulario de Oficina</h5>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="officeName" class="form-label">Nombre de la Oficina</label>
              <input type="text" class="form-control" id="officeName" formControlName="officeName"
                [ngClass]="{'is-invalid': form.get('officeName')?.invalid && form.get('officeName')?.touched}">
              <div *ngIf="form.get('officeName')?.invalid && form.get('officeName')?.touched" class="invalid-feedback">
                Este campo es obligatorio
              </div>
            </div>

            <div class="mb-3">
              <label for="workCenter" class="form-label">Centros de Trabajo</label>
              <app-autocomplete class="form-control" id="workCenter"
                [options]="workCenters"
                [label]="'Centros de trabajo'"
                [control]="getControl('workCenter')"
              ></app-autocomplete>
              <div *ngIf="form.get('workCenter')?.invalid && form.get('workCenter')?.touched" class="invalid-feedback">
                Este campo es obligatorio
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <app-button [label]="'Cerrar'" [function]="onCloseModal.bind(this)" data-bs-dismiss="modal"></app-button>
          <app-button [label]="'Guardar cambios'" [function]="onSubmit.bind(this)"></app-button>
        </div>
      </div>
    </div>
  </div>


