<div class="container-text-center">
  <div class="row gap-2">
    <div class="col-12 text-start ms-2">
      <div class="form-buttons">
        <app-button
          [label]="'Añadir'"
          [function]="onAddClick.bind(this)"
          [showIcon]="true"
          [icon]="'add'"
        >
      </app-button>
      </div>
    </div>
    <div class="col-12">
      <div class="table">
        <app-table
          [dataSource]="dataSource"
          [displayedColumns]="displayedColumns"
          [showActions]="true"
          [deleteFunction]="delete.bind(this)"
          [editFunction]="edit.bind(this)"
        ></app-table>
      </div>
    </div>
  </div>
</div>
<app-user-manage-form></app-user-manage-form>
