<div class="form-total-consumption">
  <form class="form" [formGroup]="form">
    <div class="form-inputs">
      <app-autocomplete class="autocomplete"
        [label]="'Centro de Trabajo'"
        [options]="global.centerStringArray"
        [control]="getControl('workCenter')"
      >
      </app-autocomplete>

      <app-datepicker class="startDate"
        [filter]="filterStartDate"
        [label]="'Desde'"
        [control]="getControl('startDate')"
      ></app-datepicker>

      <app-datepicker class="endDate"
        [filter]="filterEndDate"
        [label]="'Hasta'"
        [control]="getControl('endDate')"
      ></app-datepicker>
    </div>

    <div class="form-buttons">
      <app-button class="consult"
        [label]="'Consultar'"
        [function]="onClick.bind(this)"
      >
      </app-button>

      <app-button class="exportPDF"></app-button>
    </div>
  </form>

  <div class="table" [class.hidden]="!showTable">
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [footer]="footerTable"
      [showFooter]="true"
    ></app-table>
  </div>
</div>
