<div class="form-total-consumption">
  <form class="form" [formGroup]="form">
    <div class="form-inputs">
      <app-autocomplete class="autocomplete"
        [label]="'Centro de Trabajo'"
        [options]="global.workCenters"
        [control]="global.getControl(form, 'workCenter')"
        [isDisabled]="!global.getUserInfo().roles.includes('Admin')"
      >
      </app-autocomplete>
      <app-datepicker class="startDate"
        [filter]="filterStartDate"
        [label]="'Desde'"
        [control]="global.getControl(form, 'startDate')"
      ></app-datepicker>
      <app-datepicker class="endDate"
        [filter]="filterEndDate"
        [label]="'Hasta'"
        [control]="global.getControl(form, 'endDate')"
      ></app-datepicker>
    </div>
    <div class="form-buttons">
      <app-button *appShowForRoles="['Admin', 'Manager']"
        [label]="'Añadir'"
        [function]="add.bind(this)"
        [showIcon]="true"
        [icon]="'add'"
      >
      </app-button>
      <app-button class="consult"
        [label]="'Consultar'"
        [function]="onConsultClick.bind(this)"
      >
      </app-button>
      <app-button class="export"
        [control]="export"
        [exportFunction]="exportFunction.bind(this)"
        [isDisabled]="!showTable"
      ></app-button>
    </div>
  </form>
  <div class="table" [class.hidden]="!showTable || dataSource.data.length == 0">
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [footer]="footerTable"
      [showFooter]="true"
      [showActions]="global.getUserInfo().roles.includes('Admin') || global.getUserInfo().roles.includes('Manager')"
      [editFunction]="edit.bind(this)"
      [deleteFunction]="delete.bind(this)"
    ></app-table>
  </div>
  <div *ngIf="noResults" [class.hidden]="!showTable">
    <app-no-results></app-no-results>
  </div>
</div>
<app-register-form></app-register-form>
