<!-- Modal de Bootstrap -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-focus="false" (hidden.bs.modal)="onCloseModal()" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario de Equipo de Consumo</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit.bind(this)">
          <div class="mb-3">
            <div class="row">
              <div class="col-sm-6">
                <label for="workCenter" class="form-label">Centro de Trabajo</label>
                <app-autocomplete class="form-control" id="workCenter"
                  [options]="this.global.centerStringArray"
                  [label]="'Centros de Trabajo'"
                  [control]="getControl('workCenter')"
                  [isDisabled]="!global.getUserInfo().roles.includes('Admin')"
                  ></app-autocomplete>
                <div *ngIf="form.get('workCenter')?.invalid && form.get('workCenter')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
              <div class="col-sm-6">
                <label for="office" class="form-label">Oficina</label>
                <app-autocomplete class="form-control" id="office"
                  [options]="this.global.officeStringArray"
                  [label]="'Oficinas'"
                  [control]="getControl('office')"
                  [isDisabled]="!this.global.isOptionValid(this.global.centerStringArray, this.getControlValue('workCenter'))"
                ></app-autocomplete>
                <div *ngIf="form.get('office')?.invalid && form.get('office')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col-8 col-sm-6">
                <label for="model" class="form-label">Modelo</label>
                <input type="text" class="form-control" id="model" formControlName="model"
                  [ngClass]="{'is-invalid': form.get('model')?.invalid && form.get('model')?.touched}">
                <div *ngIf="form.get('model')?.invalid && form.get('model')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
            <div class="col-4 col-sm-6">
            </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="row">
                <div class="col-sm-4">
                  <label for="type" class="form-label">Tipo</label>
                  <app-autocomplete class="form-control" id="type"
                    [options]="typeStringArray"
                    [label]="'Tipos'"
                    [control]="getControl('type')"
                    [showIcon]="true"
                    [deleteOption]="deleteType.bind(this)"
                  ></app-autocomplete>
                  <div *ngIf="form.get('type')?.invalid && form.get('type')?.touched" class="invalid-feedback">
                    Este campo es obligatorio
                  </div>
                </div>
                <div class="col-sm-1">
                  <label for="addType" class="form-label"><br><br></label>
                  <app-button id="addType"
                    [isDisabled]="!enableAddType"
                    [label]="''"
                    [showIcon]="true"
                    [icon]="'add'"
                    [function]="addType.bind(this)"
                  >
                  </app-button>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                  <label for="brand" class="form-label">Marca</label>
                  <app-autocomplete class="form-control" id="brand"
                    [options]="brandStringArray"
                    [label]="'Marcas'"
                    [control]="getControl('brand')"
                    [showIcon]="true"
                    [deleteOption]="deleteBrand.bind(this)"
                  ></app-autocomplete>
                  <div *ngIf="form.get('brand')?.invalid && form.get('brand')?.touched" class="invalid-feedback">
                    Este campo es obligatorio
                  </div>
                </div>
                <div class="col-sm-1">
                  <label for="addBrand" class="form-label"><br><br></label>
                  <app-button id="addBrand"
                    [isDisabled]="!enableAddBrand"
                    [label]="''"
                    [showIcon]="true"
                    [icon]="'add'"
                    [function]="addBrand.bind(this)"
                  >
                  </app-button>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="row">
                <div class="col-sm">
                  <label for="capacity" class="form-label">Capacidad (kw)</label>
                  <input type="number" class="form-control" id="capacity" formControlName="capacity" appNumberValidation
                    [ngClass]="{'is-invalid': form.get('capacity')?.invalid && form.get('capacity')?.touched}">
                  <div *ngIf="form.get('capacity')?.invalid && form.get('capacity')?.touched" class="invalid-feedback">
                    Este campo es obligatorio
                  </div>
                </div>
                <div class="col-sm">
                  <label for="averageConsumption" class="form-label">Consumo promedio (kw/h)</label>
                  <input type="number" class="form-control" id="averageConsumption" formControlName="averageConsumption" appNumberValidation
                    [ngClass]="{'is-invalid': form.get('averageConsumption')?.invalid && form.get('averageConsumption')?.touched}">
                  <div *ngIf="form.get('averageConsumption')?.invalid && form.get('averageConsumption')?.touched" class="invalid-feedback">
                    Este campo es obligatorio
                  </div>
                </div>
                <div class="col-sm">
                  <label for="efficiency" class="form-label">Eficiencia</label>
                  <input type="number" class="form-control" id="efficiency" formControlName="efficiency" appNumberValidation
                    [ngClass]="{'is-invalid': form.get('efficiency')?.invalid && form.get('efficiency')?.touched}">
                  <div *ngIf="form.get('efficiency')?.invalid && form.get('efficiency')?.touched" class="invalid-feedback">
                    Este campo es obligatorio
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="row">
                <div class="col-sm">
                  <label for="useFrequency" class="form-label">Frecuencia de uso</label>
                  <app-autocomplete class="form-control" id="useFrequency"
                  [options]="useFrequencies"
                  [label]="'Frecuencia'"
                  [control]="getControl('useFrequency')"
                ></app-autocomplete>
                <div *ngIf="form.get('useFrequency')?.invalid && form.get('useFrequency')?.touched" class="invalid-feedback">
                    Este campo es obligatorio
                  </div>
                </div>
                <div class="col-sm">
                  <label for="maintenanceStatus" class="form-label">Estado de mantenimiento</label>
                  <app-autocomplete class="form-control" id="maintenanceStatus"
                    [options]="maintenanceStatus"
                    [label]="'Estado'"
                    [control]="getControl('maintenanceStatus')"
                  ></app-autocomplete>
                  <div *ngIf="form.get('maintenanceStatus')?.invalid && form.get('maintenanceStatus')?.touched" class="invalid-feedback">
                    Este campo es obligatorio
                  </div>
                </div>
                <div class="col-sm">
                  <label for="criticalEnergySystem" class="form-label">Sistema de energía crítica</label> <br>
                  <label> <input type="radio" id="criticalEnergySystem" formControlName="criticalEnergySystem" [value]="true"> Sí </label> <br>
                  <label> <input type="radio" id="criticalEnergySystem" formControlName="criticalEnergySystem" [value]="false"> No </label>
                  <div *ngIf="form.get('criticalEnergySystem')?.invalid && form.get('criticalEnergySystem')?.touched" class="invalid-feedback">
                    Este campo es obligatorio
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col-8 col-sm-6">
                <label for="instalationDate" class="form-label">Fecha de instalación</label> <br>
                <app-datepicker
                  [filter]="filterInstalationDate"
                  [control]="getControl('instalationDate')"
                ></app-datepicker>
                <div *ngIf="form.get('instalationDate')?.invalid && form.get('instalationDate')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
              <div class="col-4 col-sm-6">
                <label for="lifeSpanYears" class="form-label">Años de vida</label>
                <input type="number" class="form-control" id="lifeSpanYears" formControlName="lifeSpanYears" appNumberValidation
                  [ngClass]="{'is-invalid': form.get('lifeSpanYears')?.invalid && form.get('lifeSpanYears')?.touched}">
                <div *ngIf="form.get('lifeSpanYears')?.invalid && form.get('lifeSpanYears')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
            </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <app-button [label]="'Cerrar'" id="close-button" [function]="onCloseModal.bind(this)" [isDisabled]="loading" data-bs-dismiss="modal"></app-button>
        <app-button [label]="'Guardar cambios'" [function]="onSubmit.bind(this)" [isDisabled]="loading" [loading]="loading"></app-button>
      </div>
    </div>
  </div>
</div>
