<div class="form-container" [formGroup]='form'>
  <!-- Contenedor de Autocompletes -->
  <div class="form-autocomplete">
    <div class="form-autocomplete-item">
      <app-autocomplete
        [label]="'Centro de Trabajo'"
        [options]="global.centerStringArray"
        [control]="getControl('workCenter')"
        >
      </app-autocomplete>
    </div>
    <div class="form-autocomplete-item">
      <app-autocomplete
        [label]="'Oficina'"
        [options]="global.officeStringArray"
        [control]="getControl('office')"
        [isDisabled]="!this.global.isOptionValid(this.global.centerStringArray, this.getControlValue('workCenter'))"
        >
      </app-autocomplete>
    </div>
  </div>

  <!-- Botones -->
  <div class="form-buttons">
    <app-button
      [label]="'Añadir'"
      [function]="onAddClick.bind(this)"
      [showIcon]="true"
      [icon]="'add'"
    >
    </app-button>
    <app-button
      [label]="'Consultar'"
      [function]="onConsultClick.bind(this)">
    </app-button>
    <app-button></app-button>
  </div>

  <!-- Contenedor de la Tabla -->
  <div class="form-table" *ngIf="showTable">
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [showActions]="true"
      [editFunction]="edit.bind(this)"
      [deleteFunction]="delete.bind(this)"
      >
    </app-table>
  </div>
</div>

<app-equipment-form></app-equipment-form>
