<div class="form-container" [formGroup]='form'>
  <div class="form-autocomplete">
    <div class="form-autocomplete-item">
      <app-autocomplete
        [label]="'Centro de Trabajo'"
        [options]="global.workCenters"
        [control]="global.getControl(form, 'workCenter')"
        [isDisabled]="!global.getUserInfo().roles.includes('Admin')"
        >
      </app-autocomplete>
    </div>
    <div class="form-autocomplete-item">
      <app-autocomplete
        [label]="'Oficina'"
        [options]="global.offices"
        [control]="global.getControl(form, 'office')"
        [isDisabled]="!global.getControlValue(form, 'workCenter').id"
        >
      </app-autocomplete>
    </div>
  </div>
  <div class="form-buttons">
    <app-button *appShowForRoles="['Admin', 'Manager']"
      [label]="'Añadir'"
      [function]="onAddClick.bind(this)"
      [showIcon]="true"
      [icon]="'add'"
    >
    </app-button>
    <app-button
      [label]="'Consultar'"
      [function]="onConsultClick.bind(this)">
    </app-button>
    <app-button></app-button>
  </div>
  <div class="form-table" [class.hidden]="!showTable || dataSource.data.length == 0">
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [showActions]="global.getUserInfo().roles.includes('Admin') || global.getUserInfo().roles.includes('Manager')"
      [editFunction]="edit.bind(this)"
      [deleteFunction]="delete.bind(this)"
      >
    </app-table>
  </div>
</div>
<div *ngIf="noResults" [class.hidden]="!showTable">
  <app-no-results></app-no-results>
</div>
<app-equipment-form></app-equipment-form>
