<div class="form-total-consumption">
  <div class="form">
    <div class="form-autocomplete">
      <app-autocomplete
        [label]="'Centro de Trabajo'"
        [options]="global.workCenters"
        [control]="getControl('workCenter')"
        [isDisabled]="!global.getUserInfo().roles.includes('Admin')"
      >
      </app-autocomplete>
    </div>
    <div class="form-buttons">
      <app-button
        [label]="'Consultar'"
        [function]="onConsultClick.bind(this)"
      >
      </app-button>

      <app-button></app-button>
    </div>
  </div>
  <div class="table" [class.hidden]="!showTable" *ngIf="dataSource.data.length > 0">
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
    ></app-table>
  </div>
  <div *ngIf="noResults" [class.hidden]="!showTable">
    <app-no-results></app-no-results>
  </div>
</div>
