<div class="form-total-consumption">
  <div class="form">
    <div class="form-autocomplete">
      <app-autocomplete
        [label]="'Centro de Trabajo'"
        [options]="global.centerStringArray"
        (optionSelected)="handleOptionSelected($event)"
      >
      </app-autocomplete>

      <app-datepicker class="startDate"
        [filter]="filterStartDate"
        [label]="'Desde'"
        (dateSelected)="handleDateSelected($event)"
      ></app-datepicker>

      <app-datepicker class="endDate"
        [filter]="filterEndDate"
        [label]="'Hasta'"
      ></app-datepicker>
    </div>

    <div class="form-buttons">
      <app-button
        [label]="'Consultar'"
        [function]="onClick.bind(this)"
      >
      </app-button>

      <app-button></app-button>
    </div>
  </div>

  <div class="table" [class.hidden]="!isTableActive">
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [footer]="footerTable"
      [showFooter]="true"
    ></app-table>
  </div>
</div>
