<div class="form-total-consumption">
  <div class="form">
    <div class="form-autocomplete">
      <app-autocomplete
        [label]="'Centro de Trabajo'"
        [options]="global.workCenters"
        [control]="global.getControl(form, 'workCenter')"
        [isDisabled]="!global.getUserInfo().roles.includes('Admin')"
      >
      </app-autocomplete>
      <app-autocomplete #policyAutocomplete
        [label]="'Política'"
        [options]="policies"
        [control]="global.getControl(form, 'policy')"
        [isDisabled]="!global.getControlValue(form, 'workCenter').id"
      >
      </app-autocomplete>
    </div>
    <div class="form-buttons">
      <app-button
        [label]="'Consultar'"
        [function]="onClick.bind(this)"
      >
      </app-button>

      <app-button></app-button>
    </div>
  </div>
  <div class="table" [class.hidden]="!showTable">
    <div>
      <h6>Antes</h6>
      <app-table class="before"
        [dataSource]="dataSourceBefore"
        [displayedColumns]="displayedColumns"
      ></app-table>
    </div>
    <div>
      <h6>Después</h6>
      <app-table class="after"
        [dataSource]="dataSourceAfter"
        [displayedColumns]="displayedColumns"
      ></app-table>
    </div>
  </div>
</div>
