<form class="example-form">
  <mat-form-field class="example-full-width no-border" appearance="outline">
    <mat-label>{{label}}</mat-label>
    <input type="text"
           placeholder="Elige una opción"
           [attr.aria-label]="label"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
           
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
