.hidden {
  display: none;
}
.example-full-width {
  width: auto;
}
mat-label {
  color:#00203b;
  font-weight: 500;
}
.mat-mdc-option.mdc-list-item {
  align-items: center !important;
  background: white !important;
}
.custom-option {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}
.custom-option:last-child {
  border-bottom: none;
}
.disabled-select {
  opacity: 0.5;
}
.disabled-select mat-select, .disabled-select mat-autocomplete {
  pointer-events: none;
}
mat-icon {
  margin-left: auto;
  color: #8b0000;
}
mat-icon:hover {
  transform: scale(1.15);
}
.option {
  display: flex;
  flex-direction: row;
  align-items: center;
}
::ng-deep div.mat-mdc-autocomplete-panel.mat-mdc-autocomplete-visible {
  background-color: white !important;
}
::ng-deep .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
  background-color: white !important;
}
.clear-button {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: 5px;
  padding: 0;
  border: none;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}
mat-form-field:hover .clear-button {
  opacity: 0.7;
}
.clear-button:hover {
  opacity: 1;
}
.clear-button mat-icon {
  font-size: 16px;
}
