<mat-form-field
  class="example-full-width no-border"
  [class.disabled-select]="isDisabled"
  appearance="outline"
>
  <mat-label>{{label}}</mat-label>
  <input type="text"
          placeholder="Elige una opción"
          [attr.aria-label]="label"
          matInput
          [formControl]="control"
          [matAutocomplete]="auto"
          [disabled]="isDisabled"
          [readonly]="isDisabled"
  >

  <mat-autocomplete
    autoActiveFirstOption #auto="matAutocomplete"
    [displayWith]="displayFn"
  >
    @for (option of filteredOptions | async; track option) {
      <mat-option class="custom-option" [value]="option">
        <div class="option">
          <mat-icon [class.hidden]="!showIcon" (click)="removeOption(option); $event.stopPropagation();">do_not_disturb_on</mat-icon>
          {{option.name}}
        </div>
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
