<div class="form-avg-consumption">
  <div class="checkbox-container">
    <app-checkbox
      [label]="'Centros de Trabajo'"
      [options]="global.centerStringArray"
      (selectedOptions)="handleSelectionChange($event)">
    </app-checkbox>
  </div>

  <div class="buttons-container">
    <app-button
      [label]="'Consultar'"
      [function]="onConsultClick.bind(this)">
    </app-button>
    <app-button
      [label]="'Proyección'"
      [function]="onProyectionClick.bind(this)">
    </app-button>
    <app-button></app-button>
  </div>
</div>

<table mat-table
       [dataSource]="selectedOptions" multiTemplateDataRows
       class="mat-elevation-z8">
  @for (column of columnsToDisplay; track column) {
    <ng-container matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef> Centro de Trabajo </th>
      <td mat-cell *matCellDef="let element"> {{element}} </td>
    </ng-container>
  }
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="toggleRow(element); $event.stopPropagation()">
        @if (isRowExpanded(element)) {
          <mat-icon>keyboard_arrow_up</mat-icon>
        } @else {
          <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="isRowExpanded(element) ? 'expanded' : 'collapsed'">
        <div class="example-element-detail">
          <app-table
            [dataSource]="dataSources[element]"
            [displayedColumns]="displayedColumns"
          >
          </app-table>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="isRowExpanded(element)"
      (click)="toggleRow(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
