<div class="form-avg-consumption">
  <div class="checkbox-container">
    <app-checkbox
      [label]="'Centros de Trabajo'"
      [options]="global.centerStringArray"
      (selectedOptions)="handleSelectionChange($event)">
    </app-checkbox>
  </div>

  <div class="buttons-container">
    <app-button
      [label]="'Consultar'"
      [function]="onConsultClick.bind(this)">
    </app-button>
    <app-button
      [label]="'Proyección'"
      [function]="onProyectionClick.bind(this)">
    </app-button>
    <app-button></app-button>
  </div>
</div>


<app-table *ngIf="showTable"
  [dataSource]="dataSource"
  [displayedColumns]="displayedColumns"
>

