<div class="form-container"[formGroup]='form'>
  <!-- Contenedor de Autocompletes -->
  <div class="form-autocomplete">
    <div class="form-autocomplete-item">
      <app-autocomplete
        [label]="'Centro de Trabajo'"
        [options]="global.centerStringArray"
        (inputModified)="onCenterInputModified($event)">
      </app-autocomplete>
    </div>
    <div class="form-autocomplete-item">
      <app-autocomplete
        #officeAutocomplete
        [label]="'Oficinas'"
        [options]="global.officeStringArray"
        [isDisabled]="!this.global.isOptionValid(global.centerStringArray, this.centerSelected)"
        (optionSelected)="handleOptionSelected($event)"
        formControlName="office">
      </app-autocomplete>
    </div>
  </div>

  <!-- Botones -->
  <div class="form-buttons">
    <app-button
      [label]="'Consultar'"
      [function]="onConsultClick.bind(this)">
    </app-button>
    <app-button></app-button>
  </div>

  <!-- Contenedor de la Tabla -->
  <div class="form-table" *ngIf="showTable">
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns">
    </app-table>
  </div>
</div>




