<div class="grid-container" [formGroup]="form">
  <!-- Selector de Centro de Trabajo -->
  <app-autocomplete
      [label]="'Centro de Trabajo'"
      [options]="centerOptions"
      (optionSelected)="onCenterChange($event)"
    >
  </app-autocomplete>
  <!-- Selector de Oficina -->
  <app-autocomplete
      [label]="'Oficinas'"
      [options]="officeOptions"
      (optionSelected)="handleOptionSelected($event)"
    >
  </app-autocomplete>
  
  <div class="grid-item export-button">
    <button type="button" class="btn btn-primary custom-button">Descargar PDF</button>
  </div>


  <!-- Contenedor de la Tabla -->
  <div class="grid-item table-container" *ngIf="showTable">
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [showActions]="true"
    ></app-table>
  </div>
</div>


