<div class="form-container" [formGroup]='form'>
  <div class="form-autocomplete">
    <div class="form-autocomplete-item">
      <app-autocomplete
        [label]="'Centro de Trabajo'"
        [options]="global.workCenters"
        [control]="getControl('workCenter')"
        [isDisabled]="!global.getUserInfo().roles.includes('Admin')"
        >
      </app-autocomplete>
    </div>
  </div>

  <div class="form-buttons">
    <app-button
      [label]="'Añadir'"
      [function]="onAddClick.bind(this)"
      [showIcon]="true"
      [icon]="'add'"
    >
    </app-button>
    <app-button
      [label]="'Consultar'"
      [function]="onConsultClick.bind(this)">
    </app-button>
    <app-button></app-button>
  </div>

  <div class="form-table" *ngIf="showTable">
    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
      [showActions]="true"
      [editFunction]="edit.bind(this)"
      [deleteFunction]="delete.bind(this)"
      >
    </app-table>
  </div>
</div>

<app-office-manage-form></app-office-manage-form>
