<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-focus="false" (hidden.bs.modal)="onCloseModal()" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario de Usuario</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit.bind(this)">
          <div class="mb-3">
            <div class="row">
              <div class="col-8 col-sm-6">
                <label for="userName" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="userName" formControlName="userName"
                  [ngClass]="{'is-invalid': form.get('userName')?.invalid && form.get('userName')?.touched}">
                <div *ngIf="form.get('userName')?.invalid && form.get('userName')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
              <div class="col-4 col-sm-6" *ngIf="!data">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password" appPassword
                  [ngClass]="{'is-invalid': form.get('password')?.invalid && form.get('password')?.touched}">
                <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="invalid-feedback">
                  Requeridos al menos 6 caracteres, incluyendo mayúsculas, dígitos y caracteres
                  no alfanuméricos.
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="col-sm-6">
              <label for="email">Correo</label>
              <input type="email" class="form-control" id="email" formControlName="email" appEmailValidation
                [ngClass]="{'is-invalid': form.get('email')?.invalid && form.get('email')?.touched}">
              <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="invalid-feedback">
                Requerido un correo electrónico válido
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-8 col-sm-6">
                <label for="role" class="form-label">Roles</label>
                <app-checkbox class="form-control" id="role"
                  [options]="TextRoles"
                  [label]="'Roles'"
                  [control]="getControl('role')"
                ></app-checkbox>
                <div *ngIf="form.get('role')?.invalid && form.get('role')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
              <div class="col-4 col-sm-6">
                <label for="workCenter" class="form-label">Centro de Trabajo</label>
                <app-autocomplete class="form-control" id="workCenter"
                  [options]="global.workCenters"
                  [label]="'Centros de trabajo'"
                  [control]="getControl('workCenter')"
                ></app-autocomplete>
                <div *ngIf="form.get('workCenter')?.invalid && form.get('workCenter')?.touched" class="invalid-feedback">
                  Este campo es obligatorio
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <app-button [label]="'Cerrar'" id="close-button" [function]="onCloseModal.bind(this)" [isDisabled]="loading" data-bs-dismiss="modal"></app-button>
        <app-button [label]="'Guardar cambios'" [function]="onSubmit.bind(this)" [isDisabled]="loading" [loading]="loading"></app-button>
      </div>
    </div>
  </div>
</div>
