.container-fluid {
  padding: 0;
}
#map {
  height: 100vh;
  width: 100%;
  z-index: 0;
}
app-autocomplete {
  margin-top: 10px;
  position: absolute;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.location-btn {
  margin-top: 15px;
  margin-left: 270px;
  position: absolute;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#00203b;
  color:white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.location-btn:hover {
  transform:scale(1.1)
}
::ng-deep .mat-mdc-form-field-bottom-align::before {
  height:0px !important;
  display: none !important;
}
main-content {
  padding: 0 !important;
}
::ng-deep .leaflet-control-zoom {
  position: fixed !important;
}
::ng-deep .leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  display: none !important;
}
::ng-deep .main-content {
  padding: 0 !important;
}
