.example-month-picker .mat-calendar-period-button {
  pointer-events: none !important;
}
.example-month-picker .mat-calendar-arrow {
  display: none !important;
}
.hidden {
  display: none;
}
.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.form-datepicker {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
}
.form-buttons {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  position: relative;
  top: 3px;
  left: 0;
  margin-top: 5px;
  gap: 8px;
}
mat-label {
  color: #00203b;
  font-weight: 500;
}
