<!-- Modal de Bootstrap -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Formulario de Política</h5>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <div class="row">
                <div class="col-8 col-sm-6">
                  <label for="policyName" class="form-label">Nombre de la Politica</label>
                  <input type="text" class="form-control" id="policyName" formControlName="policyName"
                    [ngClass]="{'is-invalid': form.get('policyName')?.invalid && form.get('policyName')?.touched}">
                  <div *ngIf="form.get('policyName')?.invalid && form.get('policyName')?.touched" class="invalid-feedback">
                    Este campo es obligatorio
                  </div>
                </div>
                <div class="col-4 col-sm-6">
                  <label for="description" class="form-label">Descripción</label>
                  <input type="text" class="form-control" id="description" formControlName="description"
                    [ngClass]="{'is-invalid': form.get('description')?.invalid && form.get('description')?.touched}">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <app-button [label]="'Cerrar'" [function]="onCloseModal.bind(this)" data-bs-dismiss="modal"></app-button>
          <app-button [label]="'Guardar cambios'" [function]="onSubmit.bind(this)"></app-button>
        </div>
      </div>
    </div>
  </div>



