<!-- Main container layout using Grid -->
<div class="grid-container">
  <!-- Header Section -->
  <header class="header">
    <div class="menu-btn" (click)="toggleSidebar()">☰</div> <!-- Mobile menu button (toggles sidebar visibility) -->
    <img src="logo.png" alt="Company Logo"> <!-- Company logo -->
    <p>Electro Manage</p> <!-- Application title -->
    <mat-icon>person</mat-icon> <!-- User profile icon -->
  </header>
  <!-- Sidebar Section -->
  <aside class="sidebar" [class.active]="isSidebarActive">
    <nav class="nav">
      <ul>
        <li>
          <div class="dropdown-label" [class.active]="activeOption === 'home'">
              <a id="home" (click)="setActiveOption('home')"
              routerLink="/">Inicio</a>
          </div>
        </li>
        <li>
          <div class="dropdown-label" id="workCenter" (click)="toggleOption('workCenter')">
            <label>Centro de Trabajo</label>
            <mat-icon class="arrow">keyboard_arrow_down</mat-icon>
          </div>
          <ul class="submenu" [class.hidden]="!isOpen('workCenter')">
            <li [class.active]="activeOption === 'total-consumption'">
              <a id="total-consumption" (click)="setActiveOption('total-consumption')"
                routerLink="workCenter/total-consumption/form">
                Consumo total
              </a>
            </li>
            <li [class.active]="activeOption === 'avg-consumption'">
              <a id="avg-consumption" (click)="setActiveOption('avg-consumption')"
              routerLink="workCenter/avg-consumption/form">Consumo promedio</a>
            </li>
            <li [class.active]="activeOption === 'policy'">
              <a id="policy" (click)="setActiveOption('policy')"
              routerLink="workCenter/policy/form">Políticas de eficiencia energética</a>
            </li>
          </ul>
        </li>
        <li>
          <div class="dropdown-label" id="office" (click)="toggleOption('office')">
            <label>Oficina</label>
            <mat-icon class="arrow">keyboard_arrow_down</mat-icon>
          </div>
          <ul class="submenu" [class.hidden]="!isOpen('office')">
            <li [class.active]="activeOption === 'equipment'">
              <a id="equipment" (click)="setActiveOption('equipment')"
              routerLink="office/equipment/form">Consultoría</a>
            </li>
          </ul>
        </li>
        <li>
          <div class="dropdown-label" [class.active]="activeOption === 'about-us'">
            <a id="about-us" (click)="setActiveOption('about-us')"
            routerLink="#">Sobre Nosotros</a>
          </div>
        </li>
      </ul>
    </nav>
  </aside>

  <!-- Main Content Section -->
  <main class="main-content">
    <div class="content">
      <router-outlet></router-outlet> <!-- Placeholder for dynamic routing -->
    </div>
  </main>
  <!-- Footer Section -->
  <footer class="footer">
    <div class="footer-content">
      <p>&copy; 2024 Shark Company. Todos los derechos reservados.</p> <!-- Footer text -->
    </div>
  </footer>
</div>
