/* Layout for the main container using CSS Grid */
.grid-container {
  display: grid; /* Enables CSS Grid layout */
    font-family: Roboto,sans-serif;
    grid-template-areas:
        "header header"
        "sidebar main"; /* Sidebar and main content on the same row */
    grid-template-columns: auto 1fr; /* Sidebar adjusts size, main takes remaining space */
    grid-template-rows: auto 1fr; /* Header adjusts based on content, main fills available space */
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevents global scrolling */
}
/* Header styles */
.header {
  grid-area: header; /* Assigns this section to the header grid area */
  background-color: #00203b; /* Sets a blue background color */
  color: white; /* Sets the text color to white */
  height: 50px; /* Fixed height for the header */
  padding: 3px; /* Small padding inside the header */
  display: flex; /* Flexbox layout for alignment */
  align-items: center; /* Vertically centers items */
  justify-content: space-between; /* Space between header items */
}
.header img {
  height: 40px; /* Larger image size */
  margin-left: 10px;
  cursor: pointer;
}
.header p {
  margin: 0;
  margin-left: 10px;
  font-family:'Lato',sans-serif;
  flex-grow: 1;
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
}
.header .icons{
  gap: 4%;
  width: 20%; /* Sets icon width */
  padding-right: 10px;
  display: flex; /* Centers icon content */
  justify-content: right;
  cursor: pointer; /* Changes cursor to pointer */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Adds smooth hover effects */
}
.header mat-icon{
  border-radius: 50% ;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Adds smooth hover effects */
}
.header mat-icon:hover {
  transform: scale(1.25); /* Slightly enlarges the icon on hover */
}
/* Sidebar styles */
.sidebar {
  grid-area: sidebar;
  position: relative;
  width:240px;
  height: calc(100vh - 50px); /* Full height minus header height */
  background-color: #ffffff;
  border-right: 2.3px solid #cacbcc;
  padding: 1rem;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 3px 3px 0;
}
.sidebar.active {
  transform: translateX(0); /* Makes sidebar visible */
}
.sidebar .logo {
  font-size: 1.5em; /* Enlarges the logo text */
  margin-bottom: 20px; /* Adds spacing below the logo */
}
.sidebar ul {
  list-style: none; /* Removes default bullet points */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
}
.sidebar li {
  margin-bottom: 1rem; /* Adds spacing between list items */
}
.sidebar li a, .dropdown-label {
  width: 100%;
  display: flex; /* Flexbox for alignment */
  align-items:center; /* Centers items vertically */
  padding: 5px 0; /* Adds padding for clickable area */
  gap: 12px; /* Space between text and icon */
  cursor: pointer; /* Changes cursor to pointer */
  color: #000000; /* Sets dark gray text color */
  text-decoration: none; /* Removes underlines */
  transition: background-color 0.3s; /* Smooth hover effect */
}
.sidebar li mat-icon {
  margin-right:1px; /* Añadido margen a la derecha del ícono */
  flex-shrink: 0; /* Evita que el ícono se reduzca en tamaño */
}
/* Dropdown styles */
.sidebar ul {
  width: 100%;
}
.dropdown-label:hover{
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #00203b; /* Light blue background on hover */
}
.dropdown-label:hover a{
  color:white !important;
}
.dropdown-label:hover label{
  color: white; /* El texto del label también se vuelve blanco */
}
.dropdown-label:hover
.sidebar li a:hover{
  color: white;
}
.dropdown-label label {
  display: flex; /* Alinea íconos y texto en línea */
  align-items: center; /* Centra verticalmente el contenido */
  padding: 5px 0; /* Espaciado uniforme */
  color: rgb(0, 0, 0);
  white-space: nowrap;
}
.sidebar li mat-icon.arrow{
  margin-left:auto; /* Alinea la flecha a la derecha */
}
.dropdown-toggle {
  display: none; /* Hides the input toggle used for dropdown logic */
}
.arrow {
  transition: transform 0.3s ease;
}
.rotate {
  transform: rotate(180deg);
}
/* Main content styles */
.main-content {
  grid-area: main; /* Assigns this section to the main grid area */
  padding: 1rem; /* Adds padding inside main content */
  overflow:auto; /* Enables vertical scrolling */
  transition: margin-left 0.3s ease; /* Smooth transition for size adjustment */
}
/* Responsive styles for smaller screens */
@media (max-width: 767px) {
  .menu-btn {
    display: flex; /* Displays menu button on small screens */
    align-items: center; /* Centers button content vertically */
    justify-content: center; /* Centers button content horizontally */
    width: 40px; /* Sets button width */
    height: 40px; /* Sets button height */
    font-size: 1.5em; /* Increases icon size */
    cursor: pointer; /* Changes cursor to pointer */
    color: white; /* Sets icon color to white */
    background: none; /* Removes background styling */
    border: none; /* Removes border */
  }
  .sidebar {
    position: absolute;
    top: 50px;
    left: 0px;
    transform: translateX(-100%); /* Hides sidebar by default */
  }
  .sidebar.active {
    transform: translateX(0); /* Displays sidebar when active */
  }
}
/* Responsive styles for larger screens */
@media (min-width: 768px) {
  .sidebar {
    position: sticky; /* Keeps sidebar in view while scrolling */
    transform: translateX(0); /* Sidebar always visible */
  }
  .grid-container {
    grid-template-columns: 250px 1fr; /* Adjusts grid for larger screens */
  }
  .menu-btn {
    display: none; /* Hides menu button on larger screens */
  }
}
@font-face {
  font-family: 'Gruppo';
  src: url('../../../../../../public/fonts/Gruppo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmaticSC';
  src: url('../../../../../../public/fonts/AmaticSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.submenu {
  padding-left: 20px !important;
}
.submenu li {
  display: flex; /* Flexbox for alignment */
  align-items:center; /* Centers items vertically */
  padding: 5px 0; /* Adds padding for clickable area */
  gap: 1px; /* Space between text and icon */
  width: 190px; /* Makes the clickable area full-width */
  cursor: pointer; /* Changes cursor to pointer */
  color: #000000; /* Sets dark gray text color */
  text-decoration: none; /* Removes underlines */
  transition: background-color 0.3s; /* Smooth hover effect */
  align-items: center;
  font-size: 13px;
  margin-top: 10px;
}
.submenu li mat-icon {
  margin-right: 8px;
  margin-left: 10px;
  flex-shrink: 0;
}
.submenu mat-icon{
  font-size:20px;
  margin-top:3px;
}
.nav li .submenu.hidden {
  display: none;
}
.nav li .submenu li:hover {
  color: white;
  border-radius: 5px;
  background-color: #00203b; /* Light blue background on hover */
}
.nav li .submenu li:hover a {
  color: white;
}
.nav li .submenu li.active {
  color: white;
  border-radius: 5px;
  background-color: #00203b; /* Light blue background on hover */
}
.nav li .submenu li.active a {
  color: white;
}
.nav li .dropdown-label.active {
  border-radius: 5px;
  background-color: #00203b; /* Light blue background on hover */
}
.dropdown-label.active mat-icon {
  color: white;
}
.nav li .dropdown-label.active a {
  color: white;
}


