<html>
<div class="grid-container">
  <!-- Header -->
  <header class="header">
      <div class="menu-btn" (click)="toggleSidebar()">☰</div>
      <img src="logo.png">
      <p>Electro Manage</p>
      <mat-icon>person</mat-icon>
  </header>

  <!-- Sidebar -->
  <aside class="sidebar" [class.active]="isSidebarActive">
    <div class="sidebar-content">
      <ul>
        <li><a href="#dashboard">Dashboard</a></li>
        <li><a href="#perfil">Perfil</a></li>
        <li><a href="#configuracion">Configuración</a></li>
        <li><a href="#ayuda">Ayuda</a></li>
      </ul>
    </div>
  </aside>

  <!-- Contenido Principal -->
  <main class="main-content">
    <div class="content">
      <video controls>
        <source src="logo.mp4" type="video/mp4">
      </video>
      <p>Inserta el texto aqui</p>
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content">
      <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
    </div>
  </footer>
</div>
<router-outlet></router-outlet>
</html>
