<div class="grid-container">
  <header class="header">
    <div class="menu-btn" (click)="toggleSidebar()">☰</div>
    <img src="logo.png" alt="Company Logo" routerLink="/">
    <p>Electro Manage</p>
    <div class="icons">
      <mat-icon matBadge="15">notifications</mat-icon>
    <span class="cdk-visually-hidden"></span>
      <mat-icon (click)="logout()">person</mat-icon>
    </div>

  </header>
  <aside class="sidebar" [class.active]="isSidebarActive">
    <nav class="nav">
      <ul>
        <div *ngFor="let item of menuItems">
          <li *appShowForRoles="item.allowedRoles">
            <div *ngIf="!item.subItems" class="dropdown-label" [class.active]="activeOption === item.id">
              <a  id="item.id" (click)="setActiveOption(item.id)" [routerLink]="item.link">
                <mat-icon>{{item.icon}}</mat-icon>
                {{item.label}}
              </a>
            </div>
            <div *ngIf="item.subItems" class="dropdown-label" id="item.id" (click)="toggleOption(item.id)">
              <mat-icon>{{item.icon}}</mat-icon>
              <label>{{item.label}}</label>
              <mat-icon class="arrow" [class.rotate]="isOpen(item.id)">keyboard_arrow_down</mat-icon>
            </div>
            <ul *ngIf="item.subItems" class="submenu" [@submenuToggle]="isOpen(item.id) ? 'expanded' : 'collapsed'">
              <div *ngFor="let subitem of item.subItems">
                <li *appShowForRoles="subitem.allowedRoles" [class.active]="activeOption === subitem.id">
                  <a id="subitem.id" (click)="setActiveOption(subitem.id)" [routerLink]="subitem.link">
                    <mat-icon>{{subitem.icon}}</mat-icon>
                    {{subitem.label}}
                  </a>
                </li>
              </div>
            </ul>
          </li>
        </div>
      </ul>
    </nav>
  </aside>
  <main class="main-content" (click)="hideSidebar()">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
